html{color:#000;}
html,body{height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;font-family: 'Ubuntu', Verdana,Arial,Sans-serif; font-size:12px;line-height:120%; color: #636363;}
a{text-decoration:none;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}

body {
	background-color: #e9edf5;
}
#topbar {
	width:100%;
	overflow: hidden;
	background-color: #FFF;
}

#titleleft {
	float: left;
	width:160px;
	text-align: center;
	padding:20px;
	padding-top:24px;
	font-size: 14px;
	height:30px;
	background-color: #37414a;
	color: #FFF;
}
#titleright {
	float: left;
	height:30px;
	padding-top:24px;
	padding-left:36px;
	font-size: 24px;
	color: #91a0ad;
}

#adminmenu {
	float: left;
	width:200px;
	height:100%;
	background-color: #4a5864;
}
#adminmenu li {
	width: 200px;
	border-bottom: solid 1px #666;
}
#adminmenu li.active {
	background-color: #6ad1df;
}
#adminmenu li a {
	display: block;
	font-weight: bold;
	padding: 14px;
	padding-left: 15px;
	padding-right: 15px;
	font-size:14px;
	color: #c7d4e0;
	text-decoration: none;
	font-size:14px;
}
#adminmenu li.active a {
	color: #fff;
}
#adminmenu li a:hover {
	background-color: #6ad1df;
	color: #FFF;
}

#right {
	float: left;
	height: 100%;
	border-top: solid 1px #d8dbe3;

}
#content {
	padding:40px;
	padding-right:0px;
	float: left;
}

#tabbar {
	width: 800px;
	background-color: #f0f5f6;
	overflow: hidden;
}
.tab {
	float: left;
	color: #6ad1df;
	padding-top: 30px;
	padding-left:20px;
	padding-right:20px;
	height:51px;
	font-size:18px;
	font-weight: bold;
	border-bottom: solid 1px #e2e7e7;
	border-right: solid 1px #e2e7e7;
}
.active {
	background-color: #fff;
	border-bottom: solid 1px #fff;
}
.tabsearch {
	float: left;
	color: #6ad1df;
	padding-top: 30px;
	padding-left:20px;
	font-size:18px;
	font-weight: bold;
	border-bottom: solid 1px #e2e7e7;
	height:51px;
}

input.term {
	font-size:12px;
	padding:4px;
	border: solid 1px #e2e7e7;
}

.datalist {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 50px;
	background-color: #FFF;
}
.datatxt {
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: #FFF;
	color: #91a0ad; 
}
table.grid {
	width: 800px;
	background-color: #fff;
}
table.grid tr {
	border-bottom: solid 1px #e9edf5;
}
table.grid tr.active {
	background-color: #f0f5f6;
}
table.grid tr.c:hover {
	background-color: #f2fdff;
}
table.grid tr.cp:hover {
	background-color: #f2fdff;
	cursor: pointer;
}
table.grid td {
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid 1px #e9edf5;
	border-right: solid 1px #e9edf5;
	color: #91a0ad;
}
table.grid th {
	padding: 10px;
	font-size:9px;
	border: solid 1px #fff;
	border-bottom: solid 1px #e9edf5;
	color: #91a0ad;
	font-weight: bold;
}

